.canvas {
    margin: 20px auto;
    display: block;
    background-color: #ddd;

    &.rotate {
        transform: rotate(180deg);
    }

    &__title {
        font-size: 40px;
        font-weight: 100;
        text-align: center;
        margin: 0;
        padding: 50px 0;
    }

    &__subtitle {
        text-align: center;
        margin: 0;
        padding: 30px 0 50px;
    }

    &__button {
        margin: 50px auto 30px;
        display: block;
        font-size: 40px;
        width: 100%;
        max-width: 400px;
    }

    &__view {
        margin-top: 100px;
        padding: 50px 20px;
        background-color: $color_white_secondary;
        border-radius: $border-radius;
    }

    &__players {
        display: flex;
        justify-content: space-between;
    }

    &__player {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__playerImg {
        background-color: $color_white_tertiary;
        height: 80px;
        width: 80px;
        display: block;
    }

    &__playerName {
        margin: 10px;
        font-size: 22px;
        text-align: center;
    }

    &__board {
        padding: 20px 0 0;
        display: flex;
        justify-content: center;
    }

    &__container {
        background-color: $color_canvas_main;
        padding: 50px 70px;
        position: relative;
    }

    &__bottom {
        display: flex;
        justify-content: center;
    }

    &__message {
        text-align: center;
        color: $color_white_primary;
        font-size: 40px;
        font-weight: 300;
        margin: 15px 0;
        color: $color_canvas_main;
    }
}

@media (max-width: 1000px) {
    .canvas {
        &__view {
            margin-top: 0;
        }
    }

    body {
        background-color: $color_white_secondary;
    }
}

@media (max-width: 700px) {
    .canvas {
        &__view {
            padding: 20px;
        }
        &__playerImg {
            height: 60px;
            width: 60px;
        }
        &__playerName {
            font-size: 20px;
        }
    }
}

@media (max-width: 500px) {
    .canvas {
        &__playerName {
            display: none;
        }
        &__player {
            width: auto;
        }
        &__message {
            font-size: 10vw;
        }
    }
}

@media (max-width: 400px) {
    .canvas {
        margin: 10px auto;

        &__playerImg {
            height: 50px;
            width: 50px;
        }

        &__players {
            padding: 0 9px;
        }

        &__view {
            padding: 10px;
        }
    }
}

@media (max-width: 300px) {
    .canvas {
        &__playerImg {
            height: 40px;
            width: 40px;
        }
    }
}
