$color_red: hsl(0, 50%, 50%);
$color_green: hsl(100, 70%, 30%);
$color_text: hsl(200, 20%, 20%);

@mixin toggleLabel {
    top: 0%;
    font-size: 14px;
    transition: all 0.3s cubic-bezier(0, 0.6, 0.8, 1);
}

.form {
    width: 100%;
    max-width: 750px;
    margin: 100px auto;
    padding: 30px 50px;
    font-family: sans-serif;

    &__label {
        color: $color_text;
    }
    input:focus {
        outline: none;
    }

    &__link {
        color: inherit;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            background-color: #eee;
        }
    }

    &__row {
        width: 100%;
        min-height: 70px;
        margin: 20px 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__input {
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid hsl(200, 20%, 90%);
        margin-top: 22px; // for label
        padding: 0 10px;
        font-size: 20px;
        line-height: 50px;
        color: $color_text;

        &:focus ~ label {
            @include toggleLabel;
        }
        &.valid {
            border-color: $color_green;
        }

        &.invalid {
            border-color: $color_red;
            ~ label {
                @include toggleLabel;
            }
        }
    }

    &__input__username {
        position: relative;
        padding-right: 50px;

        &__search {
            position: absolute;
            top: 30px;
            right: 7px;

            width: 30px;
            height: 30px;
            border-radius: 50%;

            &.valid {
                background-color: $color_green;
            }

            &.invalid {
                background-color: $color_red;
            }

            &.loading {
                background-color: transparent;
                border: 2px solid #444;
                border-top: 3px solid #000;

                animation: input_loading 1s infinite linear;
            }
        }
    }

    &__error,
    &__message {
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: 4px;
        font-size: 14px;
        color: $color_red;
        text-transform: uppercase;
    }

    &__error {
        color: $color_red;
    }

    &__message {
        color: $color_green;
    }

    &__label {
        position: absolute;
        margin-top: (22px /2);
        display: block;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: all 0.3s cubic-bezier(0, 0.2, 0.4, 1);

        &.notempty {
            @include toggleLabel;
        }
    }

    &__checkbox {
        opacity: 0;
        margin-right: -16px;
    }

    &__checkbox:checked ~ &__checkbox__label &__fake__checkbox::after {
        opacity: 1;
        width: 16px;
        height: 16px;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: all 0.1s ease-in;
    }

    &__checkbox:focus ~ &__checkbox__label &__fake__checkbox {
        border: 1px solid hsl(200, 20%, 70%);
    }

    &__checkbox__label {
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        display: flex;
    }

    &__fake__checkbox {
        background-color: hsl(200, 20%, 90%);
        width: 30px;
        height: 30px;
        margin-right: 10px;
        position: relative;

        &::after {
            content: '';
            display: block;
            background-color: hsl(200, 20%, 20%);
            border-radius: $border-radius;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 0;
            width: 1px;
            height: 1px;
            transition: all 0.1s ease-out 0.1s;
        }
    }

    &__submit {
        width: 100%;
        height: 50px;
        border: none;
        background-color: hsl(200, 20%, 20%);
        cursor: pointer;
        color: hsl(200, 20%, 90%);
        text-transform: uppercase;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 4px;
        border-radius: $border-radius;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #bbb;
            border-top: 3px solid #fff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: submit_loading 1s infinite linear;
            opacity: 0;
        }

        &:hover {
            background-color: hsl(200, 20%, 23%);
        }
        &.loading::after {
            opacity: 1;
        }

        &:focus {
            border: 2px dashed hsl(200, 20%, 50%);
        }
    }
}

@media (max-width: 750px) {
    .form {
        margin: 20px auto;
    }
}

@media (max-width: 600px) {
    .form {
        padding: 30px 40px;
    }
}

@media (max-width: 500px) {
    .form {
        padding: 20px;
    }
}

@media (max-width: 350px) {
    .form {
        padding: 10px;
    }
}
