.header {
    width: 100%;
    height: 100px;
    background-color: $color_header_main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;

    &__logo {
        font-weight: 100;
        font-size: 60px;
    }

    &__control {
        display: none;

        &:checked ~ .header__burger {
            width: 40px;
            margin-right: 10px;

            > span {
                transition: 0.2s all linear;
                &:nth-child(1),
                &:nth-child(3) {
                    width: 55px;
                }
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateX(200%);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__burger {
        display: none;
        width: 50px;
        height: 40px;
        cursor: pointer;
        justify-content: space-between;
        flex-direction: column;

        > span {
            width: 100%;
            background-color: $color_black_primary;
            height: 4px;
            display: block;
            border-radius: $border-radius;
            transition: 0.2s all linear;
            transform-origin: 2px 50%;
        }
    }

    &__links {
        display: flex;
        > li {
            display: block;
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;
        margin: 0 5px;
        font-size: 20px;
        &:hover {
            color: lighten($color: $color_black_primary, $amount: 10%);
        }
    }
}

@media (max-width: 800px) {
    body {
        overflow: hidden;
    }

    .header {
        &__logo {
            font-size: 45px;
        }

        &__burger {
            display: flex;
        }

        &__links {
            display: none;
            position: absolute;
            top: 100px;
            width: 100%;
            height: 100%;
            background-color: $color_header_main;
            left: 0;
            padding-bottom: 200px;
            z-index: 100;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            > li {
                width: 100%;
                padding: 10px;
            }
        }

        &__link {
            padding: 20px;
            font-size: 40px;
            margin: 0;
            display: block;
            width: 100%;
            border-radius: $border-radius;
            text-align: center;

            &:hover {
                background-color: lighten($color: $color_header_main, $amount: 10%);
                color: inherit;
            }
        }

        &__link--strong {
            background-color: inherit;
            color: inherit;
        }

        &__control:checked ~ &__links {
            display: flex;
        }

        &__control:checked {
            display: block;
            visibility: hidden;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__logo {
            font-size: 35px;
        }
        &__burger {
            width: 45px;
            height: 35px;
        }
        &__control:checked ~ &__burger {
            width: 35px;

            > span:nth-child(1),
            > span:nth-child(3) {
                width: 49px;
            }
        }
    }
}

@media (max-width: 350px) {
    .header {
        &__logo {
            font-size: 25px;
        }
        &__burger {
            width: 35px;
            height: 25px;
        }
        &__control:checked ~ &__burger {
            width: 25px;
            margin-right: 0;

            > span:nth-child(1),
            > span:nth-child(3) {
                width: 34.5px;
            }
        }
    }
}
