.leaderboard {
    &__container {
        background-color: #f0f3f5;
        border-radius: $border_radius;
        margin-top: 100px;
        position: relative;
    }

    &__title {
        font-weight: 100;
        font-size: 40px;
    }

    &__table,
    &__table * {
        width: 100%;

        tr:nth-child(2n-1):not(:first-child) {
            background-color: #ddd;

            > td:hover {
                background-color: darken($color: #ddd, $amount: 5%);
            }
        }

        td,
        th {
            padding: 10px 5px;
            width: 0.1%;
            white-space: nowrap;
            text-align: left;

            &:hover {
                background-color: darken($color: #f0f3f5, $amount: 2%);
            }
        }
    }

    &__overflow {
        overflow-x: scroll;
    }
}

@media (min-width: 600px) {
    .leaderboard {
        &__overflow {
            overflow-x: auto;
        }
    }
}

@media (min-width: 800px) {
    .leaderboard {
        &__container {
            padding: 20px 40px;
        }

        &__table {
            td,
            th {
                padding: 10px;
            }
        }
    }
}
