.profile {
    &__container {
        background-color: #f0f3f5;
        padding: 50px 70px;
        border-radius: $border_radius;

        margin-top: 100px;

        position: relative;
    }

    &__title {
        font-weight: 100;
        font-size: 40px;
    }

    &__profile__picture {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: $border-radius;
        transition: all 0.4s ease-in;
    }

    &__subtitle {
        font-size: 30px;
        font-weight: 100;
        border-bottom: 3px solid #777;
        color: #333;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    &__input {
        width: 100%;
        height: 50px;
        padding: 0 10px;
        font-size: 18px;
        background-color: white;
        border: none;
        border-radius: $border-radius;
        margin-bottom: 20px;

        &:focus {
            outline-color: #777;
        }
    }

    &__status {
        &::before {
            content: 'valid';
            background-color: hsl(100, 45%, 50%);

            color: white;

            padding: 6px 6px;
            border-radius: 8px;
            margin-right: 10px;
            text-transform: uppercase;
            font-size: 14px;
        }

        &.invalid,
        &.error {
            &::before {
                background-color: hsl(0, 45%, 50%);
            }
        }

        &.invalid {
            &::before {
                content: 'invalid';
            }
        }

        &.error {
            &::before {
                content: 'error';
            }
        }
    }

    &__button {
        border: none;
        border-radius: 8px;

        padding: 16px 20px;
        cursor: pointer;

        display: block;
        margin-left: auto;

        font-size: 20px;
        background-color: hsl(100, 45%, 50%);
        color: white;

        position: relative;

        width: 85px;
        height: 55px;

        &:focus {
            outline: none;
        }

        &:active {
            background-color: darken($color: hsl(100, 45%, 50%), $amount: 2%);
        }

        &:disabled {
            background-color: hsl(100, 0%, 50%);
        }

        &::-moz-focus-inner {
            border: 0;
        }

        &.loading::after {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            border-radius: 50%;
            border: 2px solid white;
            border: 2px solid #bbb;
            border-top: 3px solid #fff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: submit_loading 1s infinite linear;
        }
    }

    &__group {
        padding: 40px 0;
    }

    &__input__group {
        position: relative;
    }

    &__search {
        position: absolute;
        top: 10px;
        right: 7px;

        width: 30px;
        height: 30px;
        border-radius: 50%;

        &.valid {
            background-color: $color_green;
        }

        &.invalid {
            background-color: $color_red;
        }

        &.loading {
            background-color: transparent;
            border: 2px solid #444;
            border-top: 3px solid #000;

            animation: input_loading 1s infinite linear;
        }
    }
}
