@import './base/colors';
@import './base/variables';
@import './base/base';
@import './base/animations';

@import './components/header';
@import './components/container';
@import './components/button';
@import './components/modal';
@import './components/canvas';
@import './components/blur';
@import './components/form';
@import './components/passwordRules';

@import './pages/home';
@import './pages/profile';
@import './pages/leaderboard';
@import './pages/online';
