.message {
    &__success,
    &__error {
        border-radius: $border-radius;

        padding: 10px 16px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 20px;
        width: 100%;
    }

    &__success {
        background-color: hsl(100, 45%, 50%);
    }

    &__error {
        background-color: hsl(10, 45%, 50%);
    }

    &__close {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        border: none;
        cursor: pointer;
    }
}
