.blur {
    filter: blur(4px);
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    visibility: hidden;
    text-align: center;

    &__background {
        width: 100%;
        height: 100%;
        background-color: hsla(200, 20%, 50%, 0.5);
    }

    &__body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: $border-radius;
        background-color: white;
        width: calc(100% - 20px);
        max-width: 700px;
    }

    &__title {
        text-align: center;
    }

    &__options {
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px;
        flex-wrap: wrap;
    }

    &__options__row {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    &__form {
        padding: 10px 0;
    }

    &__formRow {
        padding: 10px 10px;
        display: flex;
    }

    &__piece {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        flex-shrink: 0;
        &--red {
            background-color: hsl(0, 50%, 50%);
        }
        &--blue {
            background-color: hsl(220, 70%, 50%);
        }
    }

    &__input {
        flex-grow: 1;
        margin-left: 20px;
        border: none;
        border-radius: $border-radius;
        font-size: 22px;
        padding: 0 20px;
        width: 100%;
        border: 1px solid #ccc;
    }

    &__show {
        display: block;
        visibility: visible;
    }

    &__results {
        background-color: #333;
        display: block;
        color: white;
        padding: 10px;
        margin: 50px auto 0;
        text-align: center;
        font-size: 26px;
        max-width: 380px;
    }

    &__message {
        background-color: hsl(204, 50%, 89%);
        padding: 10px 0;
        border-radius: 5px;
        margin: 50px 0;
        font-size: 22px;
    }

    &__button {
        font-size: 26px;
        border-radius: $border-radius;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        position: relative;

        &:hover {
            background-color: #444;
        }

        &:disabled {
            background-color: #666;
        }

        &.loading {
            color: transparent;
        }

        &.loading::after {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            border-radius: 50%;
            border: 2px solid #bbb;
            border-top: 3px solid #fff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: submit_loading 1s infinite linear;
        }

        &--red {
            background-color: hsl(0, 50%, 50%);

            &:hover {
                background-color: hsl(0, 50%, 55%);
            }
        }
    }
}

@media (max-height: 600px) {
    .modal {
        &__body {
            height: calc(100% - 20px);
            max-height: 600px;
            overflow-y: scroll;
        }

        &__title {
            margin: 20px 0;
        }

        h5 {
            margin: 10px 0 30px;
        }

        &__options {
            margin-top: 0px;
        }

        &__message {
            margin: 10px 0;
        }

        &__button {
            margin: 5px 0;
        }
    }
}
