<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
    <title>Leaderboard | Checkers</title>
</head>
<body>
    <%- include('../components/header', { auth: auth }); %>

    <p>Leaderboard</p>
</body>
</html>