<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
    <title>Login | Checkers</title>
</head>
<body>

    <%- include('../components/header', { auth: auth }); %>

    <div id="app">
        <form class="form" v-on:submit="handleSubmit">
            <div class="form__group">
                <h2 class="form__title">Login</h2>
            </div>

            <div class="form__group">
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>

            <div class="form__group">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>

            <div class="form__group">
                <label for="staylogged">Stay Logged In?</label>
                <input type="checkbox" name="staylogged">
            </div>

            <div class="form__group">
                <div class="form__error" v-if='error' v-cloak>
                    Error: {{ error }}
                </div>
            </div>            

            <div class="form__group">
                <button type="submit">Login</button>
            </div>

            <div class="form__group">
                <a href="/register">Register</a>
            </div>
        </form>
    </div>
    
    <script src="/js/login.bundle.js"></script>
</body>
</html>