<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
        <% include ../components/header %>

        <div class="container">

                <div class='canvasView'>
                    <div class='canvas__players'>
                            <div class='canvas__player'>
                                <img src="" alt="" class='canvas__playerImg'/>
                                <p class='canvas__playerName'>Player 1</p>
                            </div> 
                            <div class='canvas__player'>
                                <img src="" alt="" class='canvas__playerImg'/>
                                <p class='canvas__playerName'>Player 2</p>
                            </div> 
                    </div>
    
                    <%- include('../components/canvas', { id: '#modalEndGame' }); %>
    
                    <div class="canvas__bottom">
                        <h3 class='canvas__message'>It's Player 1's turn!</h3>
                    </div>
                </div>
            </div>
    
            <!-- <button onClick={() => this.setState({ gameEnded: true, winMessage: 'Some win message' })}>Win</button> -->
    
            <!-- {/* Game Setup Modal */} -->
            <!-- <Modal show={ !this.state.gameStarted }>
                <h1 class="modal__title">Select Player Names</h1>
        
                <div class="modal__form">
                    <div class='modal__formRow'>
                        <div class="modal__piece modal__piece--red"></div>
                        <input type="text" class="modal__input" name='0'placeholder='Player 1' value={this.state.players[0].name} onChange={this.handleSetupModalInputs}/>
                    </div>
        
                    <div class='modal__formRow'>
                        <div class="modal__piece modal__piece--blue"></div>
                        <input type="text" class="modal__input" name='1' placeholder='Player 2' value={this.state.players[1].name} onChange={this.handleSetupModalInputs}/>
                    </div>
                </div>
        
                <div class="modal__options">
                    <button class="button modal__button" onClick={this.startGame}>Start</button>
                </div>
            </Modal> -->
        
            {/* Game End Modal */}

            <!-- <% include ../components/header %> -->

            <%- include('../components/modal', { id: '#modalEndGame' }); %>


            
        
</body>
</html>
