<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <title>MultiPlayer | Checkers</title>
    </head>

    <body>
        <%- include('../components/header', { auth }); %>

        <div id="app">
            <!-- <button @click="toggleWin">WIN</button> -->

            <div class="container">
                <div class="canvas__view">
                    <div v-if="!gameStarted">
                        <h1 class="canvas__title">Multiplayer</h1>

                        <p class="canvas__subtitle">Play against another human on the same device</p>

                        <button class="button canvas__button" @click="beginSetup">Play</button>
                    </div>
                    <div v-if="gameStarted" v-cloak>
                        <div class="canvas__players">
                            <div class="canvas__player" v-for="player in players">
                                <img v-bind:src="player.src" v-bind:alt="player.name" class="canvas__playerImg" />
                                <p class="canvas__playerName">
                                    {{ !!player.name ? player.name : player.default }}
                                </p>
                            </div>
                        </div>

                        <canvas-component :fetch-canvas-controls="fetchCanvasControls"></canvas-component>

                        <div class="canvas__bottom">
                            <h3 class="canvas__message">It's {{ currentPlayer }}'s turn!</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Game Setup Modal -->
            <modal :show="!gameStarted && toggleSetup" v-cloak>
                <h1 class="modal__title">Select Player Names</h1>

                <div class="modal__form">
                    <div class="modal__formRow" v-for="(player, index) in players">
                        <div class="modal__piece" :style="{ backgroundColor: colors[index].primary }"></div>
                        <input type="text" class="modal__input" :name="index" :placeholder="player.default" v-model="player.name" />
                    </div>
                </div>

                <div class="modal__options">
                    <button class="button modal__button" @click="startGame">Start</button>
                    <button class="button modal__button" @click="cancelSetup">Cancel</button>
                </div>
            </modal>

            <!-- Game End Modal -->
            <modal :show="gameEnded" v-cloak>
                <h1 class="modal__title">Game Ended</h1>

                <p class="modal__message">{{ winMessage }}</p>

                <div class="modal__options">
                    <button class="button modal__button" @click="handleRematch">Rematch</button>
                    <a class="button modal__button" href="/">Home</a>
                </div>
            </modal>
        </div>

        <script src="/js/vue.bundle.js"></script>
        <script src="/js/multiplayer.bundle.js"></script>
    </body>
</html>
