<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
    <title>Online | Checkers</title>
</head>
<body>
    <%- include('../components/header', { auth: auth }); %>

    <h1>Online</h1>
</body>
</html>