<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <title>Online | Checkers</title>
    </head>

    <body>
        <%- include('../components/header', { auth }); %>

        <div id="app">
            <div class="container">
                <div v-if="!gameStarted">
                    <h2 class="canvas__title">Online</h2>

                    <p class="canvas__subtitle">Play against another human from anywhere across the internet</p>

                    <color-picker :update-color="updateColor"></color-picker>

                    <button class="button canvas__button" @click="beginSetup">Play</button>
                </div>
                <div v-else v-cloak>
                    <div class="canvas__players" v-if="gameStarted">
                        <div class="canvas__player" v-for="player in players">
                            <img v-bind:src="player.src" v-bind:alt="player.alt" class="canvas__playerImg" />
                            <p class="canvas__playerName">
                                {{ player.username }}
                            </p>
                        </div>
                    </div>

                    <canvas-component v-if="showCanvas" :fetch-canvas-controls="fetchCanvasControls" v-bind:class="{rotate: rotateCanvas}"></canvas-component>

                    <div class="canvas__bottom" v-if="gameStarted">
                        <h3 class="canvas__message">{{ currentPlayerMessage }}</h3>
                    </div>
                </div>
            </div>

            <!-- Game Setup Modal -->
            <modal :show="!gameStarted && toggleSetup" v-cloak>
                <h4 class="modal__title">Queue</h4>

                <div v-if='state === "queue"' class="online__queue">
                    <p v-if="opponentLeft">Opponent left</p>
                    <p class="online__searching">Searching for players</p>
                </div>

                <div v-if='state === "found"' class="online__queue">
                    <h5>Found an opponent</h5>

                    <p v-if="accepted && opponentAccepted" class="online__searching">Setting up game</p>
                    <div v-else>
                        <span v-if="opponent">
                            <img class="online__img" :src="opponent.src" alt="opponent profile picture" />
                            <p>{{ opponent.username }}</p>
                        </span>

                        <div class="modal__message" v-if="accepted || opponentAccepted">
                            <p v-if="accepted">You have accepted</p>
                            <p v-if="opponentAccepted">Your opponent has accepted</p>
                        </div>
                    </div>
                </div>
                <div class="modal__options">
                    <button class="modal__button" @click="cancelSetup">Cancel</button>
                    <button class="modal__button" @click="acceptGame" v-if="state === 'found'">Accept</button>
                </div>
            </modal>

            <!-- Game End Modal -->
            <modal :show="gameEnded" v-cloak>
                <h4 class="modal__title">Game Ended</h4>

                <h5>{{ winMessage }}</h5>

                <span class="modal__results" v-if="gameTally">
                    <p>Wins: {{ gameTally[socket.id].wins }}</p>
                    <p>Losses: {{ gameTally[socket.id].losses }}</p>
                    <p>Draws: {{ gameTally.draws }}</p>
                </span>

                <div v-if="(rematchSelected || opponentAcceptedRematch) && !rematchDisabled">
                    <div class="modal__message">
                        <div v-if="opponentRejectedRematch">
                            Opponent has rejected a rematch
                        </div>
                        <div v-else-if="opponentAcceptedRematch">
                            Opponent has accepted rematch
                        </div>
                        <div v-else>Waiting for opponent</div>
                    </div>

                    <div v-if="!rematchSelected">
                        <button class="modal__button" @click="rejectRematch">Reject Rematch</button>
                        <button class="modal__button" @click="rematch">Accept Rematch</button>
                    </div>
                    <div v-else>
                        <button class="modal__button" @click="rejectRematch">Cancel rematch</button>
                    </div>
                </div>

                <div v-else>
                    <div class="modal__message">
                        <p v-if="rematchOpponentLeft">Opponent left</p>
                        <p v-if="opponentRejectedRematch">Opponent has rejected a rematch</p>
                    </div>

                    <div class="modal__options">
                        <div class="modal__options__row">
                            <button class="modal__button" @click="rematch" :disabled="rematchDisabled">Rematch</button>
                            <button class="modal__button" @click="rejoinQueue">Join Queue</button>
                        </div>
                        <div class="modal__options__row">
                            <a class="modal__button" href="/">Home</a>
                            <a class="modal__button" href="/leaderboard">Leaderboard</a>
                        </div>
                    </div>
                </div>
            </modal>

            <!-- Opponent disconnected Modal -->
            <modal :show="opponentDisconnected" v-cloak>
                <h4 class="modal__title">Your Opponent Disconnected</h4>

                <div class="modal__options">
                    <a class="modal__button" href="/">Home</a>
                    <button class="modal__button" @click="rejoinQueue">Join Queue</button>
                </div>
            </modal>
        </div>

        <script src="/js/vue.bundle.js"></script>
        <script src="/js/online.bundle.js"></script>
    </body>
</html>
