<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
    <title>MultiPlayer | Checkers</title>
    
    <style>
        .canvas {
            background-color: #ddd;
        }
    </style>
</head>
<body>

    <%- include('../components/header', { auth: auth }); %>

    <div class="container">

        <div id="app">


                <div class='canvasView'>
                        <div class="canvas__players">
                            <div class='canvas__player' v-for='player in players'>
                                <img v-bind:src="player.src" v-bind:alt="player.name" class='canvas__playerImg'/>
                                <p class='canvas__playerName'>{{ player.name }}</p>
                            </div> 
                        </div>
        
                       <canvas-component :fetchcanvascontrols='fetchCanvasControls' />
        
                        <div class="canvas__bottom">
                            <h3 class='canvas__message'>It's {{ players[activePlayer].name }}'s turn!</h3>
                        </div>
                    </div>
                </div>
        </div>
    
    
            <!-- <button onClick={() => this.setState({ gameEnded: true, winMessage: 'Some win message' })}>Win</button> -->
    
            <!-- {/* Game Setup Modal */} -->
            <!-- <Modal show={ !this.state.gameStarted }>
                <h1 class="modal__title">Select Player Names</h1>
        
                <div class="modal__form">
                    <div class='modal__formRow'>
                        <div class="modal__piece modal__piece--red"></div>
                        <input type="text" class="modal__input" name='0'placeholder='Player 1' value={this.state.players[0].name} onChange={this.handleSetupModalInputs}/>
                    </div>
        
                    <div class='modal__formRow'>
                        <div class="modal__piece modal__piece--blue"></div>
                        <input type="text" class="modal__input" name='1' placeholder='Player 2' value={this.state.players[1].name} onChange={this.handleSetupModalInputs}/>
                    </div>
                </div>
        
                <div class="modal__options">
                    <button class="button modal__button" onClick={this.startGame}>Start</button>
                </div>
            </Modal> -->
        
            {/* Game End Modal */}

            <!-- <% include ../components/header %> -->

            <%- include('../components/modal', { id: '#modalEndGame' }); %>


            <script src="/js/multiplayer.bundle.js"></script>

        
</body>
</html>
