<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <title>Profile | Checkers</title>
    </head>
    <body>
        <%- include('../components/header', { auth: auth }); %>

        <div class="container">
            <div class="profile__container">
                <h1 class="profile__title">Profile</h1>

                <button disabled="true">Save All Settings</button>

                <div class="profile__group">
                    <label class="profile__label" for="">Profile Picture</label>

                    <div class="profile__profile__container">
                        <img src="<%= img %>" alt="" class="profile__profile__picture" />

                        <div class="profile__profile__label">Update Profile Picture</div>
                    </div>

                    <button>Select File</button>
                </div>

                <div class="profile__group">
                    <label class="profile__label" for="">Username</label>
                    <input type="text" value="<%= username %>" disabled="true" />
                </div>

                <div class="profile__group">
                    <label class="profile__label" for="">Email</label>
                    <input type="text" value="<%= email %>" disabled="true" />
                </div>

                <div class="profile__group">
                    <label class="profile__label" for="">Password</label>
                    <input type="text" disabled="true" />
                    <input type="text" disabled="true" />
                </div>
            </div>
        </div>
    </body>
</html>
