<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <title>Profile | Checkers</title>
    </head>
    <body>
        <%- include('../components/header', { auth: auth }); %>

        <div class="container">
            <div class="profile__container">
                <h3>Profile</h3>

                <p>Username: <%= username %></p>
                <p>Email: <%= email %></p>
            </div>
        </div>
    </body>
</html>
