<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <title>Register | Checkers</title>
    </head>

    <body>
        <%- include('../components/header', { auth }); %>

        <div id="app" class="form">
            <h1 class="form__title">Register</h1>

            <form @submit="handleSubmit">
                <div class="form__row">
                    <input
                        type="text"
                        name="username"
                        id="input__username"
                        v-model="username"
                        v-bind:class="username__class"
                        class="form__input form__input__username"
                        :disabled="loading"
                    />
                    <label class="form__label" for="input__username" v-bind:class="{ notempty: username }">Username</label>
                    <span class="form__input__username__search" v-bind:class="{ loading: usernameSearchLoading }"></span>
                    <span class="form__error" v-if="(usernameError || !!usernameSearchRequestError) && !usernameSearchLoading" v-cloak>
                        {{ usernameError || usernameSearchRequestError }}
                    </span>
                    <span class="form__message" v-if="!usernameSearchLoading && !usernameSearchRequestError && !usernameError && username" v-cloak>
                        {{ username }} is available
                    </span>
                </div>

                <div class="form__row">
                    <input type="text" name="email" id="input__email" v-model="email" v-bind:class="email__class" class="form__input" :disabled="loading" />
                    <label class="form__label" for="input__email" v-bind:class="{ notempty: email }">Email</label>
                    <span class="form__error" v-if="emailError" v-cloak>{{ emailError }}</span>
                </div>

                <div class="form__row">
                    <input
                        type="text"
                        name="email__conf"
                        id="input__email__conf"
                        v-model="emailConf"
                        v-bind:class="email__conf__class"
                        class="form__input"
                        :disabled="loading"
                    />
                    <label class="form__label" for="input__email__conf" v-bind:class="{ notempty: emailConf }">Confirm Email</label>
                    <span class="form__error" v-if="emailConfError" v-cloak>{{ emailConfError }}</span>
                </div>

                <div class="form__row">
                    <input
                        type="password"
                        name="password"
                        id="input__password"
                        v-model="password"
                        v-bind:class="password__class"
                        class="form__input"
                        :disabled="loading"
                    />
                    <label class="form__label" for="input__password" v-bind:class="{notempty: password}">Password</label>
                    <span class="form__error" v-if="passwordError" v-cloak>{{ passwordError }}</span>
                </div>

                <div class="form__row">
                    <input
                        type="password"
                        name="password__conf"
                        id="input__password__conf"
                        v-model="passwordConf"
                        v-bind:class="password__conf__class"
                        class="form__input"
                        :disabled="loading"
                    />
                    <label class="form__label" for="input__password__conf" v-bind:class="{ notempty: passwordConf }">Confirm Password</label>
                    <span class="form__error" v-if="passwordConfError" v-cloak>{{ passwordConfError }}</span>
                </div>

                <div class="form__row">
                    <password-rules
                        :password="password"
                        :show-validation="hasSubmitted"
                        :rules="passwordRules"
                        :show="passwordRulesActive"
                        :toggle="togglePasswordRules"
                    ></password-rules>
                </div>

                <div class="form__row">
                    <input type="checkbox" name="stay_logged" id="input_stay_logged" class="form__checkbox" v-model="stayLogged" :disabled="loading" />
                    <label for="input_stay_logged" class="form__checkbox__label">
                        <div class="form__fake__checkbox"></div>
                        Stay Logged In
                    </label>
                </div>

                <div class="form__row" v-if="mainError" v-cloak>
                    <message :close="closeErrorMessage" :message="mainError" v-if="mainError" type="error"> </message>
                </div>

                <div class="form__row">
                    <button type="submit" class="form__submit" v-bind:class="{ loading }">
                        <span v-if="loading"></span>
                        <span v-else>Register</span>
                    </button>
                </div>

                <p class="form__links">
                    <a class="form__link" href="/login">Login</a>
                </p>
            </form>
        </div>
        <script src="/js/validator.bundle.js"></script>
        <script src="/js/vue.bundle.js"></script>
        <script src="/js/register.bundle.js"></script>
    </body>
</html>
