<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
    <title>Register | Checkers</title>
</head>
<body>
    <%- include('../components/header', { auth: auth }); %>

    <div id="app">
        <form class="form" v-on:submit="handleSubmit">
            <div class="form__group">
                <h2 class="form__title">Register</h2>
            </div>

            <div class="form__group">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>

            <div class="form__group">
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>

            <div class="form__group">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>

            <div class="form__group">
                <div class="form__error" v-if='error' v-cloak>
                    Error: {{ error }}
                </div>
            </div>

            <div class="form__group">
                <button type="submit">Register</button>
            </div>

            <div class="form__group">
                <a href="/login">Login</a>
            </div>
        </form>
    </div>

    <script src="/js/register.bundle.js"></script>
</body>
</html>