<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <title>Profile | Checkers</title>
    </head>
    <body>
        <%- include('../components/header', { auth }); %>

        <div id="app">
            <form @submit="handleSubmit">
                <input type="file" name="uploaded_image" id="uploaded_image" accept="image/*" />

                <input type="text" hidden style="display:none;" />

                <input type="submit" value="submit" />
            </form>

            <p>Uploaded image:</p>
            <img v-bind:src="responseURL" alt="" />
        </div>

        <script src="/js/vue.bundle.js"></script>
        <script src="/js/upload.bundle.js"></script>
    </body>
</html>
