body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;

    &::-moz-focus-inner {
        border: 0;
    }
}

ul {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 26px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 38px;
    }

    h4 {
        font-size: 32px;
    }

    h5 {
        font-size: 28px;
    }

    h6 {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 22px;
    }
}
