$color_header_main: hsl(200, 33%, 50%);
$color_header_link_active: hsl(200, 68%, 35%);

$color_canvas_main: $color_header_main;

$color_button_main: hsl(200, 18%, 80%);
// $color_button_main: hsl(200, 18%, 70%);
$color_button_border: hsl(200, 18%, 60%);
$color_button_shadow: rgba(0, 0, 0, 0.25);

$color_white_primary: #fff;
$color_white_secondary: #efefef;
$color_white_tertiary: #c4c4c4;

$color_black_primary: #000;
$color_black_secondary: #444;

$color_error_main: hsl(0, 50%, 50%);
$color_error_border: hsl(0, 50%, 40%);

$color_red: hsl(0, 50%, 50%);
$color_green: hsl(100, 70%, 30%);
$color_text: hsl(200, 20%, 20%);
